<div class="welcom-title-container">
  <div class="title">
    <h2>プロフィールの変更</h2>
  </div>
</div>

<div class="welcome-wrapper">
  <div class="signin-box">
    <ul class="welocme-form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <li>
          <p><%= f.label :email %></p>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </li>
        <li>
          <p><%= f.label :name %></p>
          <%= f.text_field :name, autocomplete: "name" %>
        </li>
        <li>
          <p><%= f.label :friendly_id, "URL" %></p>
          <i>http://px100. </i><%= f.text_field :friendly_id, autocomplete: "friendly_id" %><i> .herokuapp.com</i>
        </li>
        <% unless current_user.provider %>
          <li>
            <p><%= f.label :password %></p>
            <p>(passwordを変更する場合は入力してください)</p>
            <%= f.password_field :password, autocomplete: "off" %>
            <!--<% if @minimum_password_length %>-->
            <!--  <p><%= @minimum_password_length %>字以上</p>-->
            <!--<% end %>-->
          </li>
          <li>
            <p><%= f.label :password_confirmation %></p>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </li>
        <% end %>
        <li>
          <%= f.submit "Update" %>
        </li>
      <% end %>
      <li id="delete-acount">
        <p>アカウントの消去</p>
        <p><%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
      </li>
    </ul>
  </div>
</div>