<div class="wrapper">
    
    <%= form_for(@album, url: { controller: :albums, action: :update } ) do |f| %>
        <div class="album_name">
            <%= f.text_field :album_name, required: true %>
        </div>
        <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
    <div class="container" class="transitions-enable clearfix">
        <%= render partial: "form", collection: @posts, as: "post", locals: {user: @user} %>
    </div>
</div>
<% content_for :return do %>
    <%= link_to ("#") do %>
        <div class="btn"><i class="fas fa-reply"></i></div>
    <% end %>
<% end %>
<% content_for :plus do %>
    <%= link_to new_user_post_path do %>
      <div class="btn"><i class="fas fa-plus"></i></div>
    <% end %>
<% end %>