<div class="title-heading">
  <h2 class="title"><%= @album.album_name %></h2>
</div>
<div class="container">
  <%= form_for(@album, url: album_path(@album), html: {method: :put}, style: "position: relative;") do |f| %>
    <div class="edit-form-container">
      <div class="text-box">
        <div class="text-form">
          <%= f.text_field :album_name, required: true, maxlength: 25, autocomplete: "off", placeholder: "Title" %>
        </div>
      </div>
      <div class="cover-box">
        <div class="cover">
          <label for="files">
            <div class="edit-label-picture">
              <% if @album.cover_picture.url %>
                <%= image_tag @album.cover_picture.url %>
              <% else %>
                <%= image_tag "default_picture.jpg" %>
              <% end %>
              <div class="put">
                <output id="list"></output>
              </div>
              <i class="far fa-image"></i>
            </div>
          </label>
          <%= f.file_field :cover_picture, accept: 'image/jpeg,image/gif,image/png', id: "files", style: "display: none" %>
        </div>
        <div class="submit">
          <%= f.submit "create", id: "submit" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% content_for :return do %>
  <%= link_to :back do %>
    <div class="btn"><i class="fas fa-reply"></i></div>
  <% end %>
<% end %>

<script>
    $('.picture').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 3) {
            alert('3MB以上の画像は投稿できません');
        }
    });

    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // Loop through the FileList and render image files as thumbnails.
        for (var i = 0, f; f = files[i]; i++) {

            // Only process image files.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            // Closure to capture the file information.
            reader.onload = (function (theFile) {
                return function (e) {
                    // Render thumbnail.
                    var span = document.createElement('span');
                    span.innerHTML = ['<img class="thumb" src="', e.target.result,
                        '" title="', escape(theFile.name), '"/>'].join('');
                    document.getElementById('list').insertBefore(span, null);
                };
            })(f);

            // Read in the image file as a data URL.
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>