<div class="title-heading">
  <h2 class="title"><%= link_to "#{@user.name}", user_albums_path %></h2>
  <% if nil_album? %>
    <p>まだアルバムがありません</p>
  <% end %>
</div>
<div class="container">
  <%= render partial: 'album', collection: @albums, locals: {user: @user} %>
</div>
<% content_for :plus do %>
  <%= link_to new_user_album_path do %>
    <div class="btn"><i class="fas fa-plus"></i></div>
  <% end %>
<% end %>
<% content_for :edit do %>
  <div class="child child-third">
    <%= link_to albums_select_path do %>
      <i class="far fa-edit"></i>
    <% end %>
  </div>
<% end %>
<% content_for :delete do %>
  <div class="child child-fourth">
    <%= link_to albums_delete_path do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </div>
<% end %>