<div class="full-box">
   <div class="horizontal_scroll_wrap">
      <ul class="scroll_lst">
         <div class="list-wrap">
         <%= render partial: "horizontal_post", collection: @posts, as: "post" %>
         </div>
      </ul>
   </div>
</div>
<% content_for :return do %>
    <%= link_to :back do %>
        <div class="btn"><i class="fas fa-reply"></i></div>
    <% end %>
<% end %>
<% content_for :plus do %>
    <%= link_to new_user_post_path do %>
      <div class="btn"><i class="fas fa-plus"></i></div>
    <% end %>
<% end %>
<% content_for :edit do %>
  <%= link_to posts_edit_path do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>
<% content_for :left_button do %>
  <%= render partial: "left_button" %>
<% end %>