<!DOCTYPE html>
<html>
  <head>
    <title>Px100app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="nav-container">
    <div class="nav-left">
      <ul class="buttons">
        <li class="btn">
          <%= link_to("#") do %>
            <i class="fas fa-grip-horizontal"></i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to("#") do %>
            <i class="fas fa-chess-board"></i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to("#") do %>
            <i class="fas fa-long-arrow-alt-right"></i>
          <% end %>
        </li>
        <li class="btn">
          <%= link_to("#") do %>
            <i class="fas fa-long-arrow-alt-down"></i>
          <% end %>
        </li>
      </ul>
    </div>
    
    <div class="nav-center">100px</div>
      <div class="nav-right">
        <div class="nav">
          <input type="checkbox" id="label1" />
          <label for="label1"></label>
          <div class="hidden_show">
      				<div class="child child-firts">
      				  <a href="#"><i class="fas fa-user"></i></a>
      				</div>
      				<div class="child child-secound">
      				  <a href="#"><i class="far fa-comment"></i></a>
      				</div>
      				<div class="child child-third">
      				  <a href="#"><i class="fas fa-sign-out-alt"></i></a>
      				  </div>
          </div>
        </div>
      </div>
    </div>



      <!--<% if user_signed_in? %>-->
      <!--  <%= link_to("px100", "/users/#{current_user.id}") %>-->
      <!--  <%= current_user.name %>さん / -->
      <!--  <%= link_to "ログアウト", destroy_user_session_path, :method => 'delete' %>-->
      <!--  <%= link_to "ユーザ情報の編集", edit_user_registration_path %>-->
      <!--  <% else %>-->
      <!--  <%= link_to "px100", root_path %>-->
      <!--  <%= link_to "ログイン", new_user_session_path %>-->
      <!--  <%= link_to "登録", new_user_registration_path %>-->
      <!--<% end %>-->
      

    <%= yield %>
  </body>
</html>
